.callout {
  padding: 1rem;
  margin: 1.2rem 0;
  border-left: 4px solid rgb(91, 124, 255);
  background-color: var(--entry);
  border-radius: 4px;
}

.callout-info {
  border-left-color: rgb(91, 124, 255);
}
.callout-warning {
  border-left-color: rgb(255, 0, 144);
}
.callout-danger {
  border-left-color: rgb(255, 0, 60);
}
