/*
*   Global style
*/
:root {
    --main-top-padding: 35px;

    @include respond(xl) {
        --main-top-padding: 50px;
    }

    --body-background: #ffff;
    --body-text-color: #080808;

    --accent-color: #010386;
    --accent-color-text: #202020;
    --accent-color-darker: #1ffad5;

    --tag-border-radius: 4px;

    --section-separation: 40px;

    --scrollbar-thumb: hsla(240, 4%, 48%, 0.297);
    --scrollbar-track: var(--body-background);

    &[data-scheme="dark"] {

        --accent-color: #85c4ff;
        --accent-color-text: #010d27;

        --body-text-color: #E4E1E6;
        --body-background: #1a2229;  


        --accent-color-darker: #97ccfa;
        --scrollbar-thumb: hsla(240, 5%, 58%, 0.146);
        --scrollbar-track: var(--body-background);
    }
}

/**
*   Global font family
*/
:root {
    --sys-font-family: "Roboto", sans-serif;;
    --zh-font-family: "Roboto", sans-serif;;

    --base-font-family: var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: "Menlo, Monaco, Consolas, "Courier New"", var(--zh-font-family), monospace;
}

/*
*   Card style
*/
:root {
    --card-background:  #0c0e15e1; 
    --card-text-color-main: #C8C6CA;

    --card-background-selected: #FBF8FD;
    --card-text-color-secondary: #1B1B1F;

    --card-text-color-tertiary:  #97ccfa;
    --card-separator-color: #90909a97;

    --card-border-radius: 10px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background:  #0c0e15d7; 
        --card-text-color-main: #C8C6CA;


        --card-background-selected: #45464F;
        --card-text-color-secondary:  #c6c5d0;

        --card-text-color-tertiary: #cdfdf1;
        --card-separator-color: #90909a97;
    }
}

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.6rem;

    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 4px;
    --blockquote-background-color: var(--card-background);

    --heading-border-size: 4px;

    --link-background-color: 189, 195, 199;
    --link-background-opacity: 0.5;
    --link-background-opacity-hover: 0.7;

    --code-background-color: #00020c     !important; 
    --code-text-color:  #93eed8 !important;
    
    --pre-background-color: var(--card-background) !important;
    --pre-text-color: var(--code-text-color) !important;

    --table-border-color: rgba(118, 118, 128, 0.322);
    --tr-even-background-color: rgba(190, 190, 207, 0.304);

    --kbd-border-color: #90909A;

            // chroma
        // chroma
        --k-colors: #93eed8;
        --n-colors: #93eed8;
        --b-colors: #93eed8;
        --p-colors: #93eed8;
        --s-colors: #93eed8;
        --v-colors: #93eed8;
        --o-colors: #93eed8;
        --deleted-color: #93eed8;
        --comment-color: #93eed8;
        --numbers-color: #93eed8;


    &[data-scheme="dark"] .chroma .err {
        color: #93eed8 !important;
    }
    &[data-scheme="dark"] .chroma .err {
        color: #93eed8 !important;
    }

    &[data-scheme="dark"] {
        --table-border-color: rgba(184, 196, 255, 0.32);
        --tr-even-background-color: rgba(54, 58, 73, 0.281);

        --blockquote-background-color: var(--card-background);

        --code-background-color: #00020c     !important; 
        --code-text-color:  #85c4ff !important;
        // --code-background-color: #0C0E15!important;
        // --code-text-color: #DDE1FF !important;

        --pre-background-color: var(--card-background) !important;
        --pre-text-color: var(--code-text-color) !important;

        // chroma
        --k-colors: #97ccfa;
        --n-colors: #97ccfa;
        --b-colors: #97ccfa;
        --p-colors: #97ccfa;
        --s-colors: #97ccfa;
        --v-colors: #97ccfa;
        --o-colors: #97ccfa;
        --deleted-color: #97ccfa;
        --comment-color: #97ccfa;
        --numbers-color: #97ccfa;


    }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}

[data-scheme="light"] {
    --pre-text-color: #272822;
    --pre-background-color: #fafafa;
    @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
    --pre-text-color: #f8f8f2;
    --pre-background-color: #272822;
    @import "partials/highlight/dark.scss";
}

:root {
    --menu-icon-separation: 40px;
    --container-padding: 15px;
    --widget-separation: var(--section-separation);
}
