/*
*   Global style
*/
:root {
    --main-top-padding: 35px;

    @include respond(xl) {
        --main-top-padding: 50px;
    }

    --body-background: #dadada;
    --body-text-color: #080808;

    --accent-color:  #004AF2;
    --accent-color-text: #FFF;
    --accent-color-darker: #0034da;

    --tag-border-radius: 4px;

    --section-separation: 40px;

    --scrollbar-thumb: hsla(240, 4%, 48%, 0.297);
    --scrollbar-track: var(--body-background);

    &[data-scheme="dark"] {

        --accent-color: #0076bd;
        --accent-color-text: #0e0118;

        --body-text-color: #E4E1E6;
        --body-background: #1B1B1F;  


        --accent-color-darker: #0099e3;
        --scrollbar-thumb: hsla(240, 5%, 58%, 0.146);
        --scrollbar-track: var(--body-background);
    }
}

/**
*   Global font family
*/
:root {
    --sys-font-family: "Roboto", sans-serif;;
    --zh-font-family: "Roboto", sans-serif;;

    --base-font-family: var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: "Menlo, Monaco, Consolas, "Courier New"", var(--zh-font-family), monospace;
}

/*
*   Card style
*/
:root {
    --card-background: #FBF8FD;
    --card-text-color-main: hsla(240, 7%, 11%, 0.839);

    --card-background-selected: #FBF8FD;
    --card-text-color-secondary: #1B1B1F;

    --card-text-color-tertiary:  #4866f6;
    --card-separator-color: hsla(240, 4%, 48%, 0.441);

    --card-border-radius: 10px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background:  #0c0e15b8; 
        --card-text-color-main: #C8C6CA;


        --card-background-selected: #45464F;
        --card-text-color-secondary:  #c6c5d0;

        --card-text-color-tertiary: #6dd3f5;
        --card-separator-color: #90909a97;
    }
}

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.6rem;

    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 4px;
    --blockquote-background-color: var(--card-background);

    --heading-border-size: 4px;

    --link-background-color: 189, 195, 199;
    --link-background-opacity: 0.5;
    --link-background-opacity-hover: 0.7;

    --code-background-color: #e6e5f0 !important;
    --code-text-color: #A40BAF !important;
    
    --pre-background-color: var(--card-background) !important;
    --pre-text-color: var(--code-text-color) !important;

    --table-border-color: rgba(118, 118, 128, 0.322);
    --tr-even-background-color: rgba(190, 190, 207, 0.304);

    --kbd-border-color: #90909A;

            // chroma
            --k-colors: #37003B;
            --n-colors: #A40BAF;
            --b-colors: #FFD6F9;
            --p-colors: #934B00;
            --s-colors: #006B58; 
            --v-colors: #7CFE68;
            --o-colors: #FA9136;
            --deleted-color: #BA1A1A;
            --comment-color: rgba(69, 70, 79, 0.779);
            --numbers-color: rgba(69, 70, 79, 0.456);

    &[data-scheme="dark"] {
        --table-border-color: rgba(184, 196, 255, 0.32);
        --tr-even-background-color: rgba(54, 58, 73, 0.281);

        --blockquote-background-color: var(--card-background);

        --code-background-color: rgba(33, 38, 58, 0.722) !important; 
        --code-text-color:  #E154E7 !important;
        // --code-background-color: #0C0E15!important;
        // --code-text-color: #DDE1FF !important;

        --pre-background-color: var(--card-background) !important;
        --pre-text-color: var(--code-text-color) !important;

        // chroma
        --k-colors: #FF8C58;
        --n-colors: #E154E7;
        --b-colors: #FFD6F9;
        --p-colors: #EBE86E;
        --s-colors: #6ae5a2;
        --v-colors: #CECB55;
        --o-colors: #FFB781;
        --deleted-color: #f56f78;
        --comment-color: rgb(198, 197, 208);
        --numbers-color: rgba(147, 146, 154, 0.825);


    }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}

[data-scheme="light"] {
    --pre-text-color: #272822;
    --pre-background-color: #fafafa;
    @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
    --pre-text-color: #f8f8f2;
    --pre-background-color: #272822;
    @import "partials/highlight/dark.scss";
}

:root {
    --menu-icon-separation: 40px;
    --container-padding: 15px;
    --widget-separation: var(--section-separation);
}
